@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: AdjustedYuGothic;
  font-weight: 400;
  src: local('Yu Gothic Medium');
}

@font-face {
  font-family: AdjustedYuGothic;
  font-weight: 700;
  src: local('Yu Gothic Bold');
}

:root {
  --font-display:
    AdjustedYuGothic, 'Yu Gothic', YuGothic, 'Hiragino Sans', sans-serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
  --font-rounded:
    'SF Pro Rounded', 'Hiragino Maru Gothic ProN', Meiryo, 'MS PGothic',
    sans-serif;
  --font-serif: Georgia, 'Times New Roman', serif;
}
